version: '3.1'
services:
  web:
    image: alerta/alerta-web
    volumes:
      - $PWD/config/alertad.conf:/app/alertad.conf
      # - $PWD/config/alerta.conf:/app/alerta.conf
      # - $PWD/config/config.json:/web/config.json
    ports:
      - 8080:8080
    depends_on:
      - db
    environment:
      - DEBUG=1
      - AUTH_REQUIRED=True  # FIXME should not have to declare this twice
      - ADMIN_USERS=admin@alerta.io,devops@alerta.io,admin@alerta.dev
      - ADMIN_PASSWORD=super-secret
      - ADMIN_KEY=demo-key
      - ADMIN_KEY_MAXAGE=86400
    restart: always
  db:
    image: postgres
    volumes:
      - ./pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: monitoring
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    restart: always
