[supervisord]
nodaemon=true
logfile=/tmp/supervisord.log
loglevel={{ env.SUPERVISORD_LOG_LEVEL|lower or 'debug' }}
pidfile=/tmp/supervisord.pid

[program:uwsgi]
command=/venv/bin/uwsgi --ini /app/uwsgi.ini
redirect_stderr=true

[program:nginx]
command=nginx -c /app/nginx.conf
redirect_stderr=true
stopsignal=QUIT

{% if env.HK_EXPIRED_DELETE_HRS and env.HK_INFO_DELETE_HRS -%}
[program:housekeeping]
command=bash -c "sleep 60 && alerta housekeeping --expired {{ env.HK_EXPIRED_DELETE_HRS  }} --info {{ env.HK_INFO_DELETE_HRS }}"
autostart=true
autorestart=true
redirect_stderr=true
{%- endif %}

{% if env.HEARTBEAT_SEVERITY -%}
[program:heartbeats]
command=sh -c "sleep 60 && alerta heartbeats --alert --severity {{ env.HEARTBEAT_SEVERITY }}"
autostart=true
autorestart=true
redirect_stderr=true
{%- endif %}
