[uwsgi]
chdir = /app
module = wsgi
manage-script-name = true
mount = /api=wsgi:app
master = true
processes = {{ env.UWSGI_PROCESSES }}
listen = {{ env.UWSGI_LISTEN }}
{%- if env.UWSGI_MAX_WORKER_LIFETIME %}
max-worker-lifetime = {{ env.UWSGI_MAX_WORKER_LIFETIME }}
max-worker-lifetime-delta = {{ env.UWSGI_WORKER_LIFETIME_DELTA }}
{%- endif %}

{%- if env.UWSGI_THREADS %}
threads = {{ env.UWSGI_THREADS }}
enable-threads = True
{%- endif %}

socket = 127.0.0.1:29000
buffer-size = {{ env.UWSGI_BUFFER_SIZE }}
chmod-socket = 664
uid = alerta
gid = root
vacuum = true

die-on-term = true

{%- if env.DEBUG %}
show-config
stats = :1717
stats-http
{%- else %}
disable-logging = True
{%- endif %}
